<h3>
    <a href=<%=url_for action:"view_course", controller:"course", id:question_search.course_id %>>
        <%= question_search.course_name  %>
    </a>
</h3>
<div class="search-text">
    <p>Instructor: <a href="<%= url_for action:"view", controller:"users", id:question_search.instructor_id %>">
    <%= question_search.instructor_name %>
</a></p>
</div>
